/* src/components/layout/MainLayout.css */
:root {
  /* Colors from the design */
  --primary: #550000;
  --primary-accent: #ffffff;
  --primary-muted: #C2E2B5;
  --background-main: #ffffff;
  --cream: #FFFDD0;
  --surface: #FFFDD0;
  --text-main: #550000;
  --text-light: #424242;
  --white: #FFFFFF;
  --shadow: rgba(0, 0, 0, 0.1);

  --pink:#fdfaf5;


}
.main-layout {
  width: 100% !important;
  background-color: var(--pink);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-content {
  background-color: var(--pink);
  flex: 1;
  padding: 1rem 0;
}