:root {
 
  --brown: #550000;
  --text-main: #550000;
  --text-light: #424242;
  --white: #ffffff;
  --shadow: rgba(0, 0, 0, 0.1);
  --pink:#fdfaf5;
}
.page-header h1{
color: var(--brown) !important;
 font-family: "Fredoka", sans-serif;
 /* font-family: "Lugrasimo", cursive; */
  font-weight: 500;
  font-style: normal;
}