#root {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
  text-align: center;
}
@font-face {
  font-family: "MonotypeCorsiva";
  src: url("./assets/fonts/MonotypeCorsivaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}